[Unit]
Description=L530 fan control script
After=multi-user.target

[Service]
ExecStart=/usr/bin/l530-fancontrol.py -d -m
ExecStartPre=/sbin/modprobe ec_sys
ExecStopPost=/sbin/rmmod ec_sys
Restart=on-failure

[Install]
WantedBy=default.target

