[Unit]
Description=L530 fan control script
After=multi-user.target

[Service]
Type=simple
ExecStart=/sbin/l530-fancontrol.py -m
Restart=on-failure

[Install]
WantedBy=default.target

